.container {
  max-width: 900px;
  min-width: 400px;
  width: 50%;
  height: auto;
  background-color: #454545;
  font-size: 1rem;
  padding: 1em;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.control-input {
  font-size: 1rem;
  padding: 0.75em;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
}

.btn {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  background-color: var(--background-secondary);
  padding: 0.75em;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: darken(var(--background-secondary), 1);
  }

  &.active:not([disabled]) {
    background-color: var(--primary);

    &:hover {
      background-color: darken(var(--primary), 2);
    }
  }

  &[disabled] {
    background-color: var(--background-secondary);
    cursor: not-allowed;
  }
}
